.super {
    color: #72DB73;
    position: absolute;
    top: 75px;
    left: 58%;
    font-family: Single Day;
    font-size: 47px;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 139.688%;
}

.text {
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 140px;
    left: 67%;
    width: 292px;
    height: 27px;
    flex-shrink: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.688%;
}

.Forms {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 62%;
    top: 27%;
    background-color: transparent;
}

input {
    width: 450px;
    height: 42px;
    margin-bottom: 20px;
    justify-content: center;
    padding: 13px;
    flex-shrink: 0;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #292929;
}

.check {
    position: absolute;
    top: 63.2%;
    left: 48%;
    background-color: transparent;
    height: 20px;
}

.checktext {
    position: absolute;
    left: 64%;
    top: 63%;
    color: #7C7C7C;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.688%;
    letter-spacing: 0.401px;
}

button {
    position: absolute;
    top: 70%;
    left: 63%;
    width: 420px;
    border: none;
    height: 45px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #72DB73;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 108.688%;
    letter-spacing: 0.58px;
}

.btmTxt{
    position: absolute;
    top: 78%;
    left: 62.5%;
    width: 518px;
height: 53px;
width: 400px;
flex-shrink: 0;color: #7C7C7C;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 141.7%;
letter-spacing: 0.36px;
}
.two{
    margin-top: 45px;
}
.conditions{
    color: #72DB73;
}

.error{
    color: red;
    font-family: DM Sans;
    padding-bottom: 5px;
    font-size: 12px;
    display: block;
    margin-top: -16px;
}
.errmod{
    position: absolute;
    top: 67%;
    left: 62.1%;
    color: red;
    font-size: 12px;
}